<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>

<body>

    <header>
        <nav class="navbar">

            <ul>
                <li> <span class="material-symbols-outlined"> home </span> Home</li>
                <li> <span class="material-symbols-outlined"> person </span> Players</li>
                <li> <span class="material-symbols-outlined"> groups </span>Factions</li>
            </ul>
        </nav>

        <div class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </header>

    <main class="table">
        <table>
            <thead>
                <tr>
                    <th>PICTURE</th>
                    <% for (let field of sortFields) { %>
                        <th>
                            <a
                                href="?sortField=<%= field.value %>&sortDirection=<%= field.value === sortField ? sortDirection === 'asc' ? 'desc' : 'asc' : 'asc' %>">
                                <%= field.text %>
                                    <% if (field.value===sortField) { %>
                                        <%- sortDirection==='asc' ? '▲' : '▼' %>
                                            <% } %>
                            </a>
                        </th>
                        <% } %>
                </tr>
            </thead>
            <tbody>
                <% for (let player of warcraftData) { %>
                    <tr>
                        <td><img src="<%-player.favoriteImageUrl %>" alt="player icon"></td>
                        <td><%- player.name %></td>
                        <td><%- player.birthdate %></td>
                        <td><%- player.Faction.name %></td>
                        <td><%- player.married %></td>
                        <td><a href="#">vieuw player</a></td>
                    </tr>
                <% } %>
            </tbody>
        </table>

    </main>


</body>

</html>