<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>

<body>
  <%- include("./partials/header") %>
    <div class="search-container">
        <form action="/" method="get">
            <input type="text" id="search" name="q" value="<%= searchQuery %>" placeholder="Search for a champion">
            <button type="submit">Search</button>
        </form>
      
    </div>

    <main>
        
        <div class="main_table">
            <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th>PROFILE</th>
                        <% for (let field of sortFields) { %>
                            <th>
                                <a
                                    href="?sortField=<%= field.value %>&sortDirection=<%= field.value === sortField ? sortDirection === 'asc' ? 'desc' : 'asc' : 'asc' %>">
                                    <%= field.text %>
                                        <% if (field.value===sortField) { %>
                                            <%- sortDirection==='asc' ? '▲' : '▼' %>
                                                <% } %>
                                </a>
                            </th>
                            <% } %>
                            <th> FACTION </th>
                            <th> SHOW INFO</th>
                            <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (searchQuery && warcraftData.length === 0) { %>
                      <tr>
                        <td colspan="6">No results found.</td>
                      </tr>
                    <% } else { %>
                      <% for (let player of warcraftData) { %>
                        <tr>
                          <td><img src="<%= player.profielImageUrl %>" alt="<%= player.name %> logo"></td>
                          <td><%- player.name %></td>
                          <td><%- player.birthdate %></td>
                          <td class="<%= player.married ? 'yesmarried' : 'notmarried' %>">
                            <p> <%= player.married ? 'yes' : 'no'%> </p>
                          </td>
                          <td><%- player.Faction.name %></td>
                        
                          <td><a href="/person?name=<%= player.name %>">vieuw</a></td>
                          <th><a href="/<%= player.id %>">update player</a></th>
                        </tr>

                      <% } %>
                    <% } %>
                  </tbody>
            </table>
        </section>
    
        </div>
    </main>
   


</body>

</html>